@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #515467;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #515467;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 64px;
}

h2 {
  font-weight: bold;
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 24px;
}

ul {
  list-style-type: square;
}